.nav-links {
    list-style: none;
    padding-left: 0;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    color: white;
    background-color: black;
    width: fit-content;
    margin-bottom: 36px;
}

.content {
    position: relative;
    z-index: 1;
    padding: 16px;
    margin-top: 16px;
}

li {
    margin: 4px;
}

li a {
    color: white;
    background-color: #000;
    text-decoration: none;
    font-size: 1.35rem;
    font-weight: 700;
    padding: 10px 20px;
    display: inline-block;
    line-height: 1.3;
    word-break: break-word;
    text-align: center;
}

li a:hover {
    text-decoration: underline;
    color: white;
    background-color: #000;
}

@media (max-width: 768px) {
    h1 {
        font-size: 3rem;
    }
    .nav-links {
        font-size: 1rem;
    }
}